@page "/account/editpassword"

@model EditPasswordModel

@section AdditionalScripts
{
    <script type="module" src="~/js/common.js"></script>
    <script type="module" src="~/js/editpassword.js"></script>
}

@section AdditionalStyles
{
    <link href="~/css/recovery.css" rel="stylesheet" media="all">
    <link href="~/css/inputs.css" rel="stylesheet" media="all">
    <link href="~/css/buttons.css" rel="stylesheet" media="all">
}

<div id="recovery_container_phase1" style="padding-bottom: 40px">
	<div class="recovery_container">
		<h2 class="title" style="margin-bottom: 40px" >@Model.EDITPSWRD_P1P1</h2>
		<div class="group">
			<input class="form_input" id="new_password_input" required style="padding-right: 25px; width: 100%" type="password" name="email">
			<span class="highlight"></span>
			<span class="bar"></span>
			<label class="input_label">@Model.EDITPSWRD_P1P2</label>
			<img class="show_hide_password_btn" id="np_show_hide_password" style="width: 25px; height: 25px; top: -35px; left: 320px;" />
			<label id="weak_password_error" style="visibility: hidden" class="input_error">@Model.EDITPSWRD_WEAKPASSWORD</label>
		</div>
		<div class="group">
			<input class="form_input" id="new_password_input_repeat" required style="padding-right: 25px; width: 100%" type="password" name="email">
			<span class="highlight"></span>
			<span class="bar"></span>
			<label class="input_label">@Model.EDITPSWRD_P1P3</label>
			<img class="show_hide_password_btn" id="npr_show_hide_password" style="width: 25px; height: 25px; top: -34px; left: 320px;" />
			<label id="nomatch_password_error" style="visibility: hidden" class="input_error">@Model.EDITPSWRD_NOMATCH</label>
		</div>
		<div class="group">
			<button id="compete_btn" class="color1_btn" style="margin-top: -26px; padding: 5px" type="button">@Model.COMPLETE_BTN</button>
		</div>

		@* <div>
			<div style="margin-top: 12px; width: 180px; height: 60px; color: white; background: green;">
				Вы успешно поменяли пароль
			</div>
			
			<button id="compete_btn" class="color1_btn" style="margin-top: -26px; padding: 5px" type="button">Вернуться на главную</button>
		</div> *@
	</div>
</div>
