@using Microsoft.Extensions.Configuration;
@using Parus.Core.Interfaces;
@using Parus.Core.Services.ElasticSearch;
@using Parus.Core.Interfaces.Services;
@using Parus.Infrastructure.Identity;
@using Parus.WebUI.HtmlHelpers;

@inject ILocalizationService localization
@inject IConfiguration configuration
@inject ElasticSearchService searchingService

@{
    string imageServer = configuration["ImageServer:Url"];

    // TODO: add ISearchTResult and conjuct MSSQsearch and ElasticDtos in one interface

    var Broadcasts = await searchingService.SearchBroadcastsByTitleTagsAsync(Model, 0, 8);

    int broadcastCount = 0;
    foreach (var item in Broadcasts) broadcastCount++;

    var categories = await searchingService.SearchCategoriesByNameAsync(Model, 0, 5);

    int categoriesCount = 0;
    foreach (var item in categories) categoriesCount++;

    var users = searchingService.SearchUsersByUsernameAsync(Model, 0, 5);

    int usersCount = 0;
    foreach (var item in users) usersCount++;


}

        @if (broadcastCount > 0)
        {
            <article class="results_block" style="min-height: 224px; max-height: 1029.2px;">
                @{
                    <div class="article_h">
                        <span class="article_h_span">Трансляции</span>
                    </div>

                    <div class="results_elems">

                        @foreach (var broadcast in Model.Broadcasts)
                        {
                            <div class="broadcast_block">
                                <a href="@(broadcast.Ref)">
                                    <img class="broadcast_block_img" src="@(imageServer)/previews/@(broadcast.Preview)" />
                                </a>
                                <div class="broadcast_block_info">
                                    <a href="@(broadcast.Ref)" style="display: flex; align-items: center;">
                                        <img class="broadcast_block_info_avatar" src="@(imageServer)/avas/@(broadcast.AvatarPic)" />

                                        <div style="margin-top: 12px; width: 85%">
                                            <h3 class="broadcast_block_info_title">@broadcast.Title</h3>
                                            <label class="broadcast_block_info_username">@broadcast.Username</label>
                                        </div>
                                    </a>

                                    <div style="padding-left: 50px; margin-top: -8px; ">
                                        <label class="broadcast_block_info_category">@broadcast.Category.Name</label>

                                        <div class="broadcast_block_info_tags">

                                            @foreach (var tag in broadcast.Tags)
                                            {
                                                <a class="broadcast_block_info_tag">
                                                    <span>@tag.Name</span>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <div class="separator">
                        <div class="sidepart">
                            <div></div>
                        </div>
                        <div class="text">
                            <button id="show_broadcasts_btn">
                                <div>
                                    <div>
                                        <div>
                                            <div class="text_c">
                                                <p aria-label="Показать все">Показать все</p>
                                            </div>

                                            <div class="arrow">
                                                <svg width="2rem" height="2rem" viewBox="0 0 20 20"><path d="M14.5 6.5 10 11 5.5 6.5 4 8l6 6 6-6-1.5-1.5z"></path></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="sidepart">
                            <div></div>
                        </div>
                    </div>
                }
            </article>
        }

        @if (categoriesCount > 0)
        {
            <article class="results_block">
                @{
                    <div class="article_h">
                        <span class="article_h_span">Категории</span>
                    </div>

                    <div class="results_elems_categories">
                @foreach (var cat in categories)
                        {
                            string viewsCount = cat.ViewsCount + " зрителей";

                            <div class="results_elems_category">
                                <div class="results_elems_category_img">
                                    <a href="#@(cat.Name)">
                                        <img class="broadcast_block_img" src="@(imageServer)/categories/@(cat.Name).jpg" />
                                    </a>
                                </div>

                                <div style="display: flex; flex-direction: column">
                                    <div class="results_elems_category_info_name">
                                        <strong>
                                            <a class="results_elems_category_info_name_a" 
                                            href="/categories/@(cat.GetRef())">Category Name</a>
                                        </strong>
                                    </div>

                                    <p class="results_elems_category_info_views">
                                            @cat.ViewsCount
                                    </p>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="separator">
                        <div class="sidepart">
                            <div></div>
                        </div>
                        <div class="text">
                            <button id="show_categories_btn">
                                <div>
                                    <div>
                                        <div>
                                            <div class="text_c">
                                                <p aria-label="Показать все">Показать все</p>
                                            </div>

                                            <div class="arrow">
                                                <svg width="2rem" height="2rem" viewBox="0 0 20 20"><path d="M14.5 6.5 10 11 5.5 6.5 4 8l6 6 6-6-1.5-1.5z"></path></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="sidepart">
                            <div></div>
                        </div>
                    </div>
                }
            </article>
        }

        @if (usersCount > 0)
        {
            <article class="results_block">
                @{
                    <div class="article_h">
                        <span class="article_h_span">Пользователи</span>
                    </div>

                    <div class="results_elems_categories">
                @foreach (ApplicationUser usr in users)
                        {
                            <div class="user_result">
                                <div class="user_result_container">
                                    <div class="user_result_container_ava">
                                        <div class="user_result_container_ava_border">
                                            <div class="user_result_container_ava_container">
                                                <img alt="@(usr.UserName)" 
                                                    src="@(imageServer)/avas/@(usr.AvatarPath)">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="user_result_container_info">
                                        <div class="user_result_container_info_label">
                                            <div>
                                                <div>
                                                    <strong>
                                                        @usr.UserName
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="user_result_container_info_desc">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="separator">
                        <div class="sidepart">
                            <div></div>
                        </div>
                        <div class="text">
                            <button id="show_users_btn">
                                <div>
                                    <div>
                                        <div>
                                            <div class="text_c">
                                                <p aria-label="Показать все">Показать все</p>
                                            </div>

                                            <div class="arrow">
                                                <svg width="2rem" height="2rem" viewBox="0 0 20 20"><path d="M14.5 6.5 10 11 5.5 6.5 4 8l6 6 6-6-1.5-1.5z"></path></svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="sidepart">
                            <div></div>
                        </div>
                    </div>
                }
            </article>
        }